
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title> Support mail </title>
</head>
<body>
<div style="background-color:#4caf5010;">
    <img src={{icon_path}} alt="Fiddeal icon" width="80%" height="100%" style="display: block; margin-left: auto; margin-right: auto; margin-top: 8%">
    <p style="font-family: Verdana, serif; margin:8%; text-align: justify;line-height: 25px; margin-bottom: 8%; font-size: 120%"> {{mainMessage}} Recuerde
        que este correo electrónico ha sido autogenerado desde un servicio que no admite correos entrantes,
        así que porfavor, en caso de querer contactar con nosotros utilice el correo {{supportMail}}. Su código de recuperación es: </p>
    <p style="background-color:#FCFCFC; border-radius: 20px;border: 0.5px solid #4caf50; padding: 3% 6%; font-family: Verdana, serif; margin:5%; text-align: justify;line-height: 20px; font-size: 105%"> <b>Código de recuperación: </b><br> {{activationCode}} </p>
    <p style="background-color:#FCFCFC; border-radius: 20px;border: 0.5px solid #4caf50; padding: 3% 6%; font-family: Verdana, serif; margin:5%; text-align: justify;line-height: 20px; font-size: 105%"> <b>Caducidad: </b><br> {{expirationDate}} </p>
    <p style="background-color:#FCFCFC; border-radius: 20px;border: 0.5px solid #4caf50; padding: 3% 6%; font-family: Verdana, serif; margin:5%; text-align: justify;line-height: 20px; font-size: 105%"> <b>Usuario:</b><br> {{mailTo}}</p>
    <p style="background-color:#FCFCFC; border-radius: 20px;border: 0.5px solid #4caf50; padding: 3% 6%; font-family: Verdana, serif; margin:5%; text-align: justify;line-height: 20px; font-size: 105%"> <b>Tipo de usuario: </b><br> {{userType}} </p>
    <p style="padding: 3% 6%; font-family: Verdana, serif; margin:5%; text-align: justify;line-height: 20px; font-size: 85%"> Mensaje enviado de forma automática des de el servidor de fiddeal con la dirección de correo electrónico {{autoMail}} y dirigido a {{mailTo}}.
        Si no es usted, ignore el mensaje o contacte con nuestro servicio de atención al cliente.
        <a href={{privacyPolicy}}>Política de privacidad</a> | <a href={{termsAndConditions}}>Términos y condiciones de uso</a></p>
</div>
</body>
</html>





