<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title> Support mail </title>
</head>
<body>
<div style="background-color:#4caf5010;">
    <p style="font-family: Verdana, serif; text-align: justify; font-size: 120%; padding: 20px 40px;"> <b>Correo de soporte enviado por:</b> {{mailTo}}</p>
    <p style="font-family: Verdana, serif; text-align: justify; font-size: 120%; padding: 20px 40px;"> <b>Tipo de usuario:</b> {{typeUser}}</p>
    <p style="background-color:#FCFCFC; border-radius: 20px;border: 1px solid #4caf50; padding: 20px 40px; font-family: Verdana, serif; margin:10px; text-align: justify;line-height: 20px; font-size: 105%"> <b>Categoria: </b><br> {{category}} </p>
    <p style="background-color:#FCFCFC; border-radius: 20px;border: 1px solid #4caf50; padding: 20px 40px; font-family: Verdana, serif; margin:10px; text-align: justify;line-height: 20px; font-size: 105%"> <b>Sujeto:</b><br> {{topic}}</p>
    <p style="background-color:#FCFCFC; border-radius: 20px;border: 1px solid #4caf50;padding: 20px 40px; font-family: Verdana, serif; margin:10px; text-align: justify;line-height: 20px; font-size: 105%"> <b>Mensaje:</b><br> {{message}}</p>
</div>
</body>
</html>


