<div id="change_password" class="modal">
    <!-- Modal Content -->
    <div id="changePassword_container" class="shadow dialog_container">
        <div id="changePassword_header" class ="dialog_header">
            <img class="dialogIcon" src="../images/ic_change_password.svg"/>
            <h3>{{dialog_title}}</h3>
        </div>
        <div id="changePassword_content" class ="dialog_content">
            <form>
                <div class="form-group col-md-12">
                    <label for="pwd_change">{{current_password}}</label>
                    <input type="password" class="form-control" id="pwd_change" aria-describedby="emailHelp" placeholder="{{current_password}}" required>
                    <div id="pwd_change_err" class="invalid-tooltip" style="display:none"> {{compulsory_field}} </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="pwd_change_new">{{new_password}}</label>
                    <input type="password" class="form-control" id="pwd_change_new" placeholder="{{new_password}}" required>
                    <div id="pwd_change_new_err" class="invalid-tooltip" style="display:none"> {{compulsory_field}} </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="pwd_change_new_confirm">{{repeat_password}}</label>
                    <input type="password" class="form-control" id="pwd_change_new_confirm" placeholder="{{repeat_password}}" required>
                    <div id="pwd_change_new_confirm_err" class="invalid-tooltip" style="display:none"> {{compulsory_field}} </div>
                </div>
            </form>
        </div>
        <div id ="changePassword_footer" style="margin-bottom: 25px;">
            <div id="changePassword_buttons">
                <button id ="button_accept_chngPwd" type ="submit" class="button_yellow dialog_button" {{{executeChangePassword}}}>{{change_password}}</button>
                <button id="button_cancel_chngPwd" class="button_grey dialog_button" onClick="$('#change_password').addClass('hidden').removeClass('visible')">{{cancel}}</button>
            </div>
        </div>
    </div>
</div>