<div id = "footer" class="shadow">
    <div id = "about" class = "footerClass">
        <h3>{{about_us}}</h3>
        <br>
        <p> <a href="">{{meet_us}}</a></p>
        <p> <a href="">{{google_play}}</a></p>
    </div>
    <div class ="footerGap"></div>
    <div id = "privacity" class = "footerClass">
        <h3>{{security}}</h3>
        <br>
        <p> <a href="/html/terminos_condiciones.html">{{terms_and_conditions}}</a></p>
        <p> <a href="/html/politica_privacidad.html">{{privacy_policy}}</a></p>
    </div>
    <div class ="footerGap"></div>
    <div id ="contact" class = "footerClass">
        <h3>{{contact_us}}</h3>
        <br>
        <p> <a href="mailto:info@fiddeal.com"> info@fiddeal.com </a></p>
        <p>{{developed_by}} <a href="http://www.altasmart.cat">Altasmart</a></p>
    </div>
    <div class ="footerGap"></div>
    <div id ="languages" class = "footerClass">
        <h3>{{languages}} &nbsp &nbsp &nbsp</h3>
        <br>
        <div class="language" onclick="setLanguage('ca')">
            <img src="../images/ic_catala.svg" class="language-icon"/>
            <p class="language-label"> Català </p>
        </div>
        <div class="language" onclick="setLanguage('es')">
            <img src="../images/ic_castellano.svg" class="language-icon"/>
            <p class="language-label"> Castellano </p>
        </div>
        <div class="language" onclick="setLanguage('en')">
            <img src="../images/ic_english.svg" class="language-icon"/>
            <p class="language-label"> English </p>
        </div>
    </div>
    <div id ="subfooter">
        <div class="horizontal_rule"></div>
        <p id="copyright"> &copy; {{copyright}} </p>
        <p id="version"> {{app_version}} </p>
    </div>
</div>
