<div id="recovery_password" class="modal">
    <!-- Modal Content -->
    <div id="recoverPassword_container" class="shadow dialog_container">
        <div id="recoverPassword_header" class ="dialog_header">
            <img class="dialogIcon" src="../images/ic_change_password.svg"/>
            <h3>{{dialog_title}}</h3>
        </div>
        <div id="recoverPassword_content" class ="dialog_content">
            <form>
                <div class="form-group col-md-12 input">
                    <label for="input_recovery_code" class="labelForm">{{recovery_code}}</label>
                    <input type="text" class="form-control" id="input_recovery_code" aria-describedby="emailHelp" placeholder="{{recovery_code}}" required>
                    <div id="error_recovery_code" class="invalid-tooltip"> {{compulsory_field}} </div>
                </div>
                <div class="form-group col-md-12 input">
                    <label class="labelForm" for="input_new_password">{{new_password}}</label>
                    <input type="password" class="form-control" id="input_new_password" placeholder="{{new_password}}" required>
                    <div id="error_new_password" class="invalid-tooltip"> {{compulsory_field}} </div>
                </div>
                <div class="form-group labelForm col-md-12 input">
                    <label class="labelForm" for="input_confirm_password">{{repeat_new_password}}</label>
                    <input type="password" class="form-control" id="input_confirm_password" placeholder="{{repeat_new_password}}" required>
                    <div id="error_confirm_password" class="invalid-tooltip"> {{compulsory_field}} </div>
                </div>
            </form>
            <div id="recoverPassword_footer">
                <div id="hr_recoverPassword" class="hr"></div>
                <div id="buttons">
                    <button id="button_accept" type="submit" class="button_green dialog_button full_width" {{{onSubmit}}}>{{change_password_action}}</button>
                    <button id="button_cancel" class="button_grey dialog_button full_width" onClick="$('#recovery_password').addClass('hidden').removeClass('visible')">{{cancel}}</button>
                </div>
            </div>
        </div>
    </div>
</div>