
<div id="request_recovery_password" class="modal">
    <div id="sendMailRecoverPassword_container" class="shadow dialog_container" onclick="">
        <div id="sendMailRecoverPassword_header" class ="dialog_header">
            <img width="72px" height="72px" src="../images/ic_recovery_password.svg"/>
            <h3>{{dialog_title}}</h3>
        </div>
        <div id="sendMailRecoverPassword_content" class ="dialog_content">
            <form>
                <div class="form-group col-md-12">
                    <label for="recovery_mail" class="labelForm">{{email_label}}</label>
                    <input type="text" class="form-control" id="recovery_mail" aria-describedby="emailHelp" placeholder="{{email_placeholder}}" required>
                    <div id="recovery_mail_error" class="invalid-tooltip">{{compulsory_field}}</div>
                </div>
            </form>
            <div id="buttons">
                <button class ="button_green dialog_button full_width" {{{sendRecoveryMail}}}>{{recovery_action}}</button>
                <button id="button_cancel" class="button_grey dialog_button full_width" onClick="$('#request_recovery_password').addClass('hidden').removeClass('visible')">{{cancel}}</button>
            </div>
        </div>
    </div>
</div>